<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="logFileAppender" type="log4net.Appender.RollingFileAppender">
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%5p - %d{yyyy-MM-dd HH:mm:ss}: %m%n" />
		</layout>
		<file value="Logs\WebApp.log" />
		<appendToFile value="true" />
	</appender>
	<appender name="DatabaseAddapter" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
		<connectionStringName value="WebAuthConnection" />
		<commandText value="
					 insert into ErrorLogs(Date, Thread, Level, Logger, Message, Exception, Application, Machine)
					 values (?log_date, ?thread, ?log_level, ?logger, ?message, ?exception, ?application, ?machine)" />
		<ReconnectOnError value="true" />
		<threshold value="DEBUG" />
		<parameter>
			<parameterName value="?log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawUtcTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="?thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="?log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="?logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="?message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="?exception" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
		<parameter>
			<parameterName value="?application" />
			<dbType value="String" />
			<size value="200" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="Settings" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="?machine" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:HostName}" />
			</layout>
		</parameter>
	</appender>
	<appender name="AsyncForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
		<appender-ref ref="DatabaseAddapter" />
		<appender-ref ref="logFileAppender" />
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="AsyncForwarder" />
	</root>
</log4net>